<div class="card border-left-warning  shadow   ">
    <div class="card-header">
        <h5 class="headerTitle"> SOLICITUD DE RESGUARDO </h5>
    </div>
    <div class="card-body">

        <form [formGroup]="formParamsFiltro">
            <div class="row" style=" margin-top: -15px;">

                <div class="col-md-3">
                    <label for=""> Servicio</label>
                    <select class="form-control comboBox" formControlName="servicio">
                        <option [value]="sol.id_Servicios" *ngFor="let sol of servicios">{{sol.nombreServicio}}</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label for=""> Solicitante</label>
                    <select class="form-control comboBox" formControlName="idSolicitante">
                        <option value="0"> [ --SELECCIONE-- ]</option>
                        <option [value]="serv.id_solicitante" *ngFor="let serv of solicitantes ">{{serv.solicitante}}</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="control-label"> Rango Fechas de Atencion </label>
                    <div class="input-group">
                        <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_ini" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                        <span class="input-group-addon">-</span>
                        <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_fin" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                    </div>
                </div>

                <div class="col-md-2 ">
                    <label for=""> Estado</label>
                    <select class="form-control comboBox" formControlName="idEstado">
                        <option value="0"> [ --TODOS-- ]</option>
                        <option [value]="estado.id_Estado" *ngFor="let estado of estados">{{estado.descripcion_estado}}</option>
                    </select>
                </div>

                <!-- <div class="col-md-2">
                    <div class="btn-group mt-4 ">
                        <button type="button" class="btn btn-dark dropdown-toggle" style="font-family: 'Montserrat', sans-serif;font-size: 15px;font-weight: 600;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          - ACCIONES -
                        </button>
                        <div class="dropdown-menu text-center">
                            <div class="p-2">
                                <button class="btn btn-primary btn-block  " style="font-size: 13px;" (click)="mostrarInformacion()">  <i class="fa fa-search"> Mostrar</i> </button>
                            </div>

                            <div class="p-2">

                                <button class="btn btn-success btn-block  " (click)="nuevo()" style="font-size: 13px;">  <i class="fa fa-plus-circle"> Nuevo</i> </button>
                            </div>

                            <div class="dropdown-divider"></div>
                            <div class="p-2">
                                <button class="btn btn-warning btn-block  " (click)="descargarGrilla()" style="font-size: 13px;">  <i class="fa fa-download"> Exportar</i> </button>

                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="p-2">
                        <button class="btn btn-primary  " style="font-size: 13px;" (click)="mostrarInformacion()">  <i class="fa fa-search"> Mostrar</i> </button>
                        <button class="btn btn-success ml-2 " (click)="nuevo()" style="font-size: 13px;">  <i class="fa fa-plus-circle"> Nuevo</i> </button>
                        <button class="btn btn-warning ml-2 " (click)="descargarGrilla()" style="font-size: 13px;">  <i class="fa fa-download"> Exportar</i> </button>
                    </div>
                </div>
            </div>

        </form>

        <hr>

        <div class="tableFixHead">
            <table class="table  table-hover table-sm">
                <thead class="theadTable">

                    <tr style="height: 40px !important;">

                        <th scope="col">#</th>
                        <th class="text-center">Nro Solicitud</th>
                        <th class="text-center">Area</th>
                        <th class="text-center">Solicitante</th>

                        <th class="text-center">Jefe cuadrilla</th>

                        <th class="text-center">fecha Asignacion Inicial</th>
                        <th class="text-center">fecha Asignacion Final </th>


                        <th class="text-center">Cant. Efectivos</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Ver Efectivo</th>
                        <th colspan="2" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of solicitudesCab |  filter: filtrarMantenimiento  ; index as j" [ngStyle]="item.estado == 11 && {'color': 'red'}">
                        <td scope="row"> {{j + 1}} </td>
                        <td>{{item.nroSolicitud}}</td>
                        <td>{{item.descripcionArea}}</td>
                        <td>{{item.descripcionSolicitante}}</td>

                        <td>{{item.descripcionJefeCuadrilla}}</td>
                        <td class="text-center">{{item.fechaAtencion | date:"dd/MM/yyyy" }}</td>
                        <td class="text-center">{{item.fechaAsignacion_Final | date:"dd/MM/yyyy" }}</td>

                        <td class="text-right">{{item.cantidadEfectivos}}</td>
                        <td class="text-center">{{item.descripcionEstado}}</td>
                        <td class="text-center">
                            <span class="badge badge-dark puntero" (click)="efectivosPoliciales(item)" style="padding: 5px;">  ver </span>
                        </td>
                        <td>
                            <span class="badge badge-success puntero" *ngIf="item.idEstado ==3" (click)="editar(item)" style="padding: 5px;">  Visualizar </span>
                            <span class="badge badge-primary puntero" *ngIf="item.idEstado !=3" (click)="editar(item)" style="padding: 5px;">  Editar </span>
                        </td>
                        <td class="text-center">
                            <div *ngIf="item.idEstado !=3">
                                <span class="badge badge-danger puntero" *ngIf="item.idEstado != 11" (click)="anular(item)" style="padding: 5px;">  Anular </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>






<div class="modal fade " id="modal_mantenimiento" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="p-3 card ">
                    <div class="d-flex justify-content-between flotante">
                        <div class=" bd-highlight">
                            <i class="fas fa-arrow-circle-left  fa-2x puntero" title="Retornar" (click)="cerrarModal()">  </i>
                        </div>
                        <div class="tituloModal">
                            <p> REGISTRO DE SOLICITUD </p>
                        </div>
                        <div class=" bd-highlight">
                            <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModal()">  </i>
                        </div>
                    </div>
                </div>
                <hr style="background-color: white;">

                <form [formGroup]="formParams" style=" margin-top: -15px;">
                    <div class="row">
                        <div class="col-md-10">
                            <label for=""> Servicio</label>
                            <select class="form-control comboBox" formControlName="id_Servicios">
                                <option value="0"> [ -- SELECCIONE-- ]</option>
                                <option [value]="sol.id_Servicios" *ngFor="let sol of servicios">{{sol.nombreServicio}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label> Fecha Atencion </label>
                            <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker [bsConfig]="datepiekerConfig" formControlName="fechaAtencion">
                        </div>
                        <div class="col-md-6">
                            <label> Al </label>
                            <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker [bsConfig]="datepiekerConfig" formControlName="fechaAsignacion_Final">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label> Cantidad Efectivos  </label>
                            <input type="number" class="form-control " formControlName="cantidadEfectivos">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label> Cantidad Horas  </label>
                            <input type="number" class="form-control " formControlName="cantidadHoras">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="custom-control custom-checkbox custom-control-inline ">
                                <input type="checkbox" [id]="9999" formControlName="asigna_JC" (change)="onChange_jefeCuadrilla($event)" class="custom-control-input">
                                <label class="custom-control-label" [for]="9999">Deseo Asignar a Jefe Cuadrilla </label>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-10">
                            <label for=""> Jefe Cuadrilla</label>
                            <select id="cboJefeCuadrilla" class="form-control comboBox disabledForm" formControlName="id_PersonalJefeCuadrilla">
                                <option value="0"> [ -- SELECCIONE-- ]</option>
                                <option [value]="jefe.id_jefeCuadrilla" *ngFor="let jefe of jefeCuadrillas">{{jefe.jefeCuadrilla}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 ">
                            <label for=""> Estado</label>
                            <select class="form-control comboBox" formControlName="estado">
                                <option value="0"> [ -- SELECCIONE-- ]</option>
                                <option [value]="estado.id_Estado" *ngFor="let estado of estadosBD">{{estado.descripcion_estado}}</option>
                            </select>
                        </div>

                    </div>

                </form>
                <br>

                <div class="d-flex justify-content-center" *ngIf="idEstado_global == 9 || idEstado_global == 11">
                    <div class="p-2 bd-highlight">
                        <button class="btn btn-success" (click)="saveUpdate()" title="Guardar la informacion"> <i class="fas fa-save"> Grabar</i></button>
                        <button class="btn btn-danger ml-2" title="Guardar la informacion" *ngIf="idSolicitudCab_global > 0" (click)="enviarAsignar()"> <i class="fas fa-save"> Enviar Asignar</i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade " id="modal_efectivos" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="p-3 card ">
                    <div class="d-flex justify-content-between flotante">
                        <div class=" bd-highlight">
                            <i class="fas fa-arrow-circle-left  fa-2x puntero" title="Retornar" (click)="cerrarModalEfectivos()">  </i>
                        </div>
                        <div class="tituloModal">
                            <p>LISTA DE EFECTIVOS ASIGNADOS </p>
                        </div>
                        <div class=" bd-highlight">
                            <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModalEfectivos()">  </i>
                        </div>
                    </div>
                </div>
                <hr style="background-color: white;">

                <div class="tableFixHead">
                    <table class="table  table-hover table-sm">
                        <thead class="theadTable">

                            <tr style="height: 40px !important;">
                                <th scope="col">#</th>
                                <th class="text-center">Nombre de Efectivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of efectivoPoliciales; index as j">
                                <td scope="row"> {{j + 1}} </td>
                                <td>{{item.efectivoPolicial}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>