<div class="card border-left-warning  shadow   ">
    <div class="card-header">
        <h5 class="headerTitle"> BANDEJA DE ASIGNACION MASIVO </h5>
    </div>
    <div class="card-body">

        <form [formGroup]="formParamsFiltro">
            <div class="row" style=" margin-top: -15px;">

                <div class="col-sm-6  col-md-4 col-lg-2">
                    <label for=""> Servicio</label>
                    <select class="form-control comboBox" formControlName="servicio">
                        <option [value]="sol.id_Servicios" *ngFor="let sol of servicios">{{sol.nombreServicio}}</option>
                    </select>
                </div>

                <div class="col-sm-6  col-md-4 col-lg-4">
                    <label class="control-label"> Rango Fechas de Atencion </label>
                    <div class="input-group">
                        <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_ini" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                        <span class="input-group-addon">-</span>
                        <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_fin" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-2 ">
                    <label for=""> Estado</label>
                    <select class="form-control comboBox" formControlName="idEstado">
                        <option value="0"> [ --TODOS-- ]</option>
                        <option [value]="estado.id_Estado" *ngFor="let estado of estados">{{estado.descripcion_estado}}</option>
                    </select>
                </div>

                <div class="col-sm-6 col-md-6 mt-4 col-lg-4 ">
                    <button class="btn btn-primary   " style="font-size: 13px;" (click)="mostrarInformacion()">  <i class="fa fa-search"> </i> Mostrar  </button>
                    <button class="btn btn-success ml-1 " style="font-size: 12px;" (click)="asignarMasivo()">  <i class="fas fa-check-double"> </i> Asignar Masivo </button>
                    <button class="btn btn-warning  ml-1   " (click)="descargarGrilla()" style="font-size: 13px;" title="Descargar"> <i class="fa fa-download"> </i>  Descar</button>


                    <!-- <div class="btn-group mt-4 ">
                        <button type="button" class="btn btn-dark dropdown-toggle" style="font-family: 'Montserrat', sans-serif;font-size: 15px;font-weight: 600;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          - ACCIONES -
                        </button>
                        <div class="dropdown-menu text-center">
                            <div class="p-2">
                                <button class="btn btn-primary btn-block  " style="font-size: 13px;" (click)="mostrarInformacion()">  <i class="fa fa-search"> Mostrar</i> </button>
                            </div>
                            <div class="p-2">
                                <button class="btn btn-success btn-block  " style="font-size: 12px;" (click)="asignarMasivo()">  <i class="fas fa-check-double"> Asignacion Masiva</i> </button>
                            </div>

                            <div class="dropdown-divider"></div>
                            <div class="p-2">
                                <button class="btn btn-warning btn-block  " (click)="descargarGrilla()" style="font-size: 13px;">  <i class="fa fa-download"> Exportar</i> </button>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </form>

        <div class="tableFixHead mt-2">
            <table class="table  table-hover table-sm">
                <thead class="theadTable">

                    <tr style="height: 40px !important;">

                        <th scope="col">#</th>
                        <th class="text-center">check</th>
                        <th class="text-center">Nro Solicitud</th>
                        <th class="text-center">Area</th>
                        <th class="text-center">Solicitante</th>

                        <th class="text-center">fecha Asignacion</th>
                        <th class="text-center">Jefe Cuadrilla</th>

                        <th class="text-center">Cant. Efectivos</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Ver Efectivo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of solicitudesCab |  filter: filtrarMantenimiento  ; index as j" [ngStyle]="item.estado == 11 && {'color': 'red'}">
                        <td scope="row"> {{j + 1}} </td>
                        <td class="text-center">
                            <div class="custom-control custom-checkbox custom-control-inline ">
                                <input type="checkbox" [id]="item.id_Solicitud_Cab" [(ngModel)]="item.checkeado" class="custom-control-input">
                                <label class="custom-control-label" [for]="item.id_Solicitud_Cab"> </label>
                            </div>
                        </td>
                        <td>{{item.nroSolicitud}}</td>
                        <td>{{item.descripcionArea}}</td>
                        <td>{{item.descripcionSolicitante}}</td>

                        <td class="text-center">{{item.fechaAtencion | date:"dd/MM/yyyy" }}</td>
                        <td class="text-right">{{item.descripcionJefeCuadrilla}}</td>
                        <td class="text-right">{{item.cantidadEfectivos}}</td>
                        <td class="text-center">{{item.descripcionEstado}}</td>
                        <td class="text-center">
                            <span class="badge badge-dark puntero" (click)="efectivosPoliciales(item)" style="padding: 5px;">  ver </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>






<div class="modal fade " id="modal_mantenimiento" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog modal-xl " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="p-3 card ">
                    <div class="d-flex justify-content-between flotante">
                        <div class=" bd-highlight">
                            <i class="fas fa-arrow-circle-left  fa-2x puntero" title="Retornar" (click)="cerrarModal()">  </i>
                        </div>
                        <div class="tituloModal">
                            <p> ASIGNACION DE EFECTIVOS </p>
                        </div>
                        <div class=" bd-highlight">
                            <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModal()">  </i>
                        </div>
                    </div>
                </div>
                <hr style="background-color: white;">

                <fieldset class="shadow-sm mt-2">
                    <legend>SELECCIONE EFECTIVO </legend>
                    <div class="panel panel-default ">
                        <div class="panel-body">

                            <div class="row" style="margin-top: -12px;">
                                <div class="col-md-6">
                                    <form [formGroup]="formParamsDet">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <label for=""> Nombre del Efectivo </label>
                                                <select class="form-control comboBox" formControlName="id_UsuarioEfectivoPolicial">
                                                    <option value="0"> [ -- SELECCIONE-- ]</option>
                                                    <option [value]="estado.idEfectivo" *ngFor="let estado of listResguardoEventos">
                                                        {{estado.nombreEfectivo}} ____________ ( {{estado.cantidadEventos}} ) Eventos 
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mt-4 " *ngIf="!flagCerrar">
                                                    <button class="btn btn-sm btn-success" (click)="guardarDet()" title="Guardar la informacion"> <i class="fas fa-save"> Grabar</i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                    <div class=" tableFixHead mt-2">
                                        <table class="table  table-hover table-sm">
                                            <thead class="theadTable2">
                                                <tr style="height: 40px !important;">
                                                    <th scope="col">#</th>
                                                    <th scope="col">Nombre Efectivo</th>
                                                    <th class="text-center">Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of solicitudesDet; index as j">
                                                    <th scope="row"> {{j + 1}} </th>
                                                    <td>{{item.nombreEfectivo}} </td>
                                                    <td class="text-center">
                                                        <i class="puntero linkOpcion" title="Quitar" (click)="eliminarSolicitudDetalle(item)"> Eliminar</i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr>

                                    <div class="row text-center">
                                        <div class="col-md-12">
                                            <div *ngIf="flagCerrar">
                                                <button class="btn btn-danger ml-2" title="Guardar la informacion" (click)="cerrarAsignacion()"> <i class="fas fa-save"> Cerrar Asignacion </i></button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="table-responsive">
                                        <table class="table table-hover table-sm">
                                            <thead class="theadTableModal">
                                                <tr class="text-center" style=" font-size: 10px !important;">
                                                    <th scope="col">#</th>
                                                    <th scope="col">nro solicitud</th>
                                                    <th scope="col">Area</th>
                                                    <th scope="col">Fecha Asignacion</th>
                                                    <th scope="col">Cant. Efectivos</th>
                                                    <th scope="col">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of  listSolicitudesTemp; index as i">
                                                    <th scope="row"> {{i + 1}} </th>
                                                    <td class="text-center">{{item.id_Solicitud_Cab}}</td>
                                                    <td>{{item.descripcionArea}}</td>
                                                    <td class="text-center">{{item.fechaAtencion | date:"dd/MM/yyyy" }}</td>
                                                    <td class="text-center">{{item.cantidadEfectivos}}</td>

                                                    <td class="text-center">
                                                        <span class="badge badge-danger puntero" (click)=" eliminarCheckMarcado(item) " style="padding: 5px;"> Eliminar </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>




                        </div>
                    </div>
                </fieldset>





            </div>
        </div>
    </div>
</div>


<div class="modal fade " id="modal_efectivos" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="p-3 card ">
                    <div class="d-flex justify-content-between flotante">
                        <div class=" bd-highlight">
                            <i class="fas fa-arrow-circle-left  fa-2x puntero" title="Retornar" (click)="cerrarModalEfectivos()">  </i>
                        </div>
                        <div class="tituloModal">
                            <p>LISTA DE EFECTIVOS ASIGNADOS </p>
                        </div>
                        <div class=" bd-highlight">
                            <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModalEfectivos()">  </i>
                        </div>
                    </div>
                </div>
                <hr style="background-color: white;">

                <div class="tableFixHead">
                    <table class="table  table-hover table-sm">
                        <thead class="theadTable">

                            <tr style="height: 40px !important;">
                                <th scope="col">#</th>
                                <th class="text-center">Nombre de Efectivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of efectivoPoliciales; index as j">
                                <td scope="row"> {{j + 1}} </td>
                                <td>{{item.efectivoPolicial}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>